@model ICollection<UrlShortening.DTO.UrlDto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Все ваши сохранённые ссылки</h1>
    @if (Model.Count == 0)
    {
        <h2 class="display-4 alert-danger">Нет данных</h2>
    }
    else
    {
        <div class="container mt-5">
            @foreach (var url in Model)
            {
                <div class="mb-5">
                     <table class="table">
                         <tbody>
                             <tr>
                                 <td><strong>Title:</strong></td>
                                 <td>@url.Title</td>
                             </tr>
                             <tr>
                                 <td><strong>Created Date:</strong></td>
                                 <td>@url.CreatedDateTime</td>
                             </tr>
                             <tr>
                                 <td colspan="2"><strong>Long URL:</strong></td>
                             </tr>
                             <tr>
                                 <td colspan="2"><a href="@url.LongUrl">@url.LongUrl</a></td>
                             </tr>
                             <tr>
                                 <td colspan="2"><strong>Short URL:</strong></td>
                             </tr>
                             <tr>
                                 <td colspan="2"><a href="@url.ShortUrl">@url.ShortUrl</a></td>
                             </tr>
                             <tr>
                                 <td><strong>Click Number:</strong></td>
                                 <td>@url.ClickNumber</td>
                             </tr>
                             <tr>
                                 <td colspan="2">
                                     <small>This indicates the number of times the URL has been clicked.</small>
                                 </td>
                             </tr>
                         </tbody>
                     </table>

                      <div class="row">
                          <div class="col-md-6">
                              <div class="mt-3">
                                  <a href="@Url.Action("Edit", "Home", new { urlId = url.Id })" class="btn btn-primary">Edit</a>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="mt-3">
                                  <form asp-action="Delete" method="post">
                                      <input type="hidden" name="urlId" value="@url.Id"/>
                                      <button type="submit" class="btn btn-danger">Delete</button>
                                  </form>
                              </div>
                          </div>
                      </div>
                </div>

            }
        </div>

    }

</div>